.OrangeDivider {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.OrangeDivider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 91px;
}

.OrangeDivider .shape-fill {
  fill: #FF1F00;

}
.RedDivider {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.RedDivider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 91px;
}

.RedDivider .shape-fill {
  fill: rgb(220 38 38);
}

.custom-shape-divider-bottom-1668178239 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1668178239 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1668178239 .shape-fill {
  fill: #1a1434;
}
.mystupid {
  position: absolute;
  bottom: 25;
  left: 0;
  width: 25%;
  overflow: hidden;
  line-height: 0;
}
